legacy-peer-deps=true
strict-ssl=false
registry=https://registry.npmjs.org/
engine-strict=true
unsafe-perm=true
save-exact=true
audit=false
fund=false
update-notifier=false
cache-min=999999999
prefer-offline=true
production=false
progress=false 